<div class="relative bg-primary w-full h-screen lg:overflow-hidden flex justify-center items-center">
    <img src="/Assets/images/fixedGreen.png" class="absolute right-0 bottom-0 lg:-mb-16 z-5 lg:scale-110">
    <img src="/Assets/images/yellow.png" class="absolute lg:bottom-20 left-0 z-2 lg:scale-110">
    <img src="/Assets/images/green.png" class="absolute lg:bottom-72 lg:left-96 z-4 lg:scale-110">
    <img src="/Assets/images/blue.png" class="absolute lg:top-16 lg:right-52 z-6 lg:scale-110">
    <img src="/Assets/images/pink.png" class="absolute lg:top-10 lg:left-96 lg:ml-56 z-1 lg:scale-110">
    <img src="/Assets/images/red.png" class="absolute bottom-9 left-72 z-3 lg:scale-110">
    <p class="absolute text-white lg:text-5xl lg:w-96 text-center font-medium z-7">We help you set
        focus and gain
        impact. By adding
        to the conversation,
        not to the noise.</p>
</div>