<footer class="grid grid-cols-5 m-3  border border-amber-400">
    <div class="flex flex-col border border-amber-400">
        <p>Agentur Baumeister</p>
        <p>Böckhstraße 13</p>
        <p>10967 Berlin</p>
    </div>
    <div class="flex flex-col border border-amber-400">
        <a href="">hallo@agentur-baumeister.com</a>
        <p>+49 (0)30 - 490 827 87</p>
    </div>
    <div class="border border-amber-400">
        LinkedIn
    </div>
    <div class="border border-amber-400">
        Instagram
    </div>
    <div class="flex flex-col border border-amber-400">
        <p>Impressum</p>
        <p>Datenschutz</p>
    </div>
</footer>
