<span class="text-xl sm:text-2xl sm:text-center font-bold md:text-right lg:text-right">DISCLAIMER</span>
<p class="text-lg max-w-sm sm:text-center md:text-right lg:text-right mt-4 font-medium">
    Despite all due care, no liability can be accepted for the accuracy, completeness and up to-dateness of the information provided. 
    The same applies to third-party websites to which www.agentur-baumeister.com refers by means of hyperlinks. Katrein Baumeister, Agentur Baumeister accepts no liability for the content of these websites.
</p>