<div class="nav-ui hidden ">
    <div class="absolute w-full mt-30 transition duration-500 lg:hidden">
      <ul
        class="relative z-40 flex flex-col gap-5 text-center text-2xl sm:gap-10 sm:text-[48px] font-bold text-[#00672E]"
      >
        <li>About</li>
        <li>Services</li>
        <li>References</li>
        <li>contact</li>
      </ul>
      <div class="absolute top-[170px] sm:top-[400px] z-0 w-screen -translate-y-[30px]">
        <img src="/Group 1.svg" class="w-full" />
      </div>
    </div>
  </div>