<p
  class="text-right md:text-2xl text-lg text-gray-800 font-medium lg:py-44 md:py-40 py-28 lg:pr-36 md:pr-32 pr-16"
>
  Ace Hotel <br />
  ARMEDANGELS <br />
  BERLIN DESIGN WEEK <br />
  Berliner Berg <br />
  BITE CLUB <br />
  Budweiser Budvar <br />
  ChungKing Noodles <br />
  Designpreis Brandenburg <br />
  Die Techniker <br />
  European Street Food Awards <br />
  Grundmann Dentistry <br />
  HORNBACH Werkstück <br />
  HORNBACH macht Schule <br />
  iF Design <br />
  Kopka <br />
  KLH Maßschuhe <br />
  Lode & Stijn <br />
  Luya <br />
  MEISSEN <br />
  MEISSEN IKONEN <br />
  Motel Beer & Coffee <br />
  PAPER & TEA <br />
  rocket & basil <br />
  Seeberger Gruppe <br />
  Shiori <br />
  SPOC Magazin <br />
  stocubo <br />
  STUR<br />
  World of Coffee<br />
  yamo
</p>
