@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-body: #efecea;
  --font-outfit: 'Outfit', 'sans-serif';
  --color-yellow-250: #ffe800;
}
.custom-bullets li::marker {
  font-size: 0.6em;
  font-style: normal;
}

@layer utilities {
  .clip-path-custom {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 38% 88%, 0 85%);
  }
}