@import "tailwindcss";

@layer base {
  body {
    font-family: "Outfit", sans-serif;
  }
}

.custom-bullets li::marker {
  font-family: "Outfit", sans-serif;
  font-size: 0.6em;
  font-style: normal;
}
